* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
}

:root {
  --primary: #F6C76C;
  --hover-primary: #d8ad58;

  --secondary: #252525;
  --hover-secondary: #2e2e2e;

  --terciary: #333333;
  --hover-terciary: #2c2c2c;

  --red: #d9544f;
}

html, body {
  min-height: 100dvh;
  background-color: #131313;
}

body #root {
  display: flex;
}